*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #182447;
}
.UpperDIv{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    height: 55vh;
    padding: 10px;
}
.upperLeft{
    width: 60%;
    min-height: 100%;
    /* border: 1px solid green; */
}
.upperRight{
    width: 40%;
    min-height: 100%;
    /* border: 1px solid rgb(21, 0, 128); */
}
.LowerDiv{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    /* border: 1px solid rgb(30, 255, 0); */
    height: 40vh;
}
.lowerLeft{
    width: 60%;
    min-height: 100%;
    /* border: 1px solid green; */
}